[project]
	description = LSD-SLAM
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/flluo
[access "refs/for/refs/*"]
	read = group user/flluo
	push = group user/flluo
	label-Code-Review = -2..+2 group user/flluo
	label-Verified = -1..+1 group user/flluo
	rebase = group user/flluo
	removeReviewer = group user/flluo
	submit = group user/flluo
[access "refs/heads/*"]
	read = group user/flluo
	create = group user/flluo
	push = +force group user/flluo
	pushMerge = group user/flluo
[access "refs/tags/*"]
	push = +force group user/flluo
	pushTag = group user/flluo
	pushSignedTag = group user/flluo
